@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.flex{
    display: flex;
}
.holder{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 700px;
    border-radius: 10px;
    background-color: #f3f3f3;
}
footer{
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 400;
}
.converterInputs, .holder{
    justify-content: center;
    align-items: center;
}
.defaultButton{
    background-color: transparent;
    border: none;
    background: #ffffff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.currField{
    height: 40px;
    width: 110px;
    background-color: #fff;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    text-align: right;
}
.currField:focus, .selectCurr:focus{
    outline: none !important;
}
.selectCurr{
    width: 70px;
    font-size: 16px;
    border-left: 2px solid rgb(216, 216, 216);
    padding-left: 10px;
    margin-left: 10px;
}
.inputHolder{
    border: 2px solid rgb(216, 216, 216);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}
#switchButton{
    height: 50px;
    width: 25px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-image: url('/swap.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    filter:opacity(0.6);
    background-color: transparent;

}
#result{
    color: black !important;
}
