@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.hide{
    display: none !important;
}
.flex {
    display: flex;
}

.holder {
    margin-top: 200px;
    margin-left: auto;
    flex-grow: 1;

    margin-right: auto;
    height: 300px;
    width: 700px;
    border-radius: 10px;
    background-color: #f3f3f3;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 400;
}

.converterInputs,
.holder {
    justify-content: center;
    align-items: center;
}

.defaultButton {
    background-color: transparent;
    border: none;
    background: #ffffff;
    cursor: pointer;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.currField {
    height: 40px;
    width: 110px;
    background-color: #fff;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    text-align: right;
}

.currField:focus,
.selectCurr:focus {
    outline: none !important;
}

.exchangeSelect, .selectCurrForList {
    width: 70px;
    font-size: 16px;
    border-left: 2px solid rgb(216, 216, 216);
    padding-left: 10px;
    margin-left: 10px;
}
.selectCurrForList{
    border-left: none;
}

.inputHolder {
    border: 2px solid rgb(216, 216, 216);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

#fromCurrForListHolder{
    width: min-content
}

.inputHolder:hover {
    border: 2px solid rgb(193, 193, 193);

}

#switchButton {
    height: 50px;
    width: 25px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-image: url('swap.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.6);
    background-color: transparent;
}

#swithIcon, #listIcon{
    background-image: url('swap.png');
    padding: 10px;
    margin: 10px;
    margin-right: 15px;
    opacity: 0.6;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 15px;
    padding: 20px;
    background-color: transparent;
}
#listIcon{
    background-image: url('currency-exchange.svg');
}

#result {
    color: black !important;
}

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}


.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #f3f3f3;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    font-size: 15px;
    font-weight: 300;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #000000;
    background-color: #aaaaaa;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

.currency-header, .currency-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;;
    border-bottom: 1px solid #ddd;
}

.currency-header {
    font-weight: bold;
    border-bottom: 2px solid #333;
}

.currency-item:last-child {
    border-bottom: none;
}
#currency-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.currency-code, .currency-name, .currency-rate {
    text-align: center;
    margin: 0 20px;
}

.rateHeader {
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}